name: MongoDB.Driver release

on:
  push:
    branches:
      - main
      - devops/auto-approve-merge-dependabot

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Shallow fetch
      - name: Get current release version
        id: release-version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ${{ github.repository }}
      - name: Check if MongoDB.Driver version has been updated
        id: check-version
        run: |
          version=$(sed -n 's/<PackageVersion Include="MongoDB.Driver" Version="\(.*\)" \/>/\1/p' Directory.Packages.props | awk '{$1=$1};1')
          echo "$version"
          echo "${{ steps.release-version.outputs.release }}"
          echo "version=$version" >> "$GITHUB_OUTPUT"
          [ "${{ steps.release-version.outputs.release }}" != "$version" ] && echo "${{ steps.release-version.outputs.release }} not equal to $version"
          [ "${{ steps.release-version.outputs.release }}" != "$version" ] && echo "status=run" >> "$GITHUB_OUTPUT"
      # - name: Create release
      #   if: ${{ steps.check-version.outputs.status == 'run' }}
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     draft: false
      #     prerelease: false
      #     name: ${{ steps.check-version.outputs.version }}
      #     tag_name: ${{ steps.check-version.outputs.version }}
      #     generate_release_notes: true
